/* design */
.warning_barrier {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning_message {
  background-color:white;
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  padding: 4px;
}
/* functional */
.warning_barrier:active {/* make buttons from content of the barrier and button from content of the message clickable. Naturally, if these buttons have no type and are inside an form or associated with an other form (form="form_id"), they will use the action of the form */
  visibility: visible;
}
button.warned:focus-within + .warning_barrier {/* pause the listener status of the button.warned. If a button from content of the barrier or from content of the message have a type="button" and are typed, that cancel the listener of button.warned and close the barrier. It also cancel the listener of the button.warned and close the barrier when other content of the barrier or content of the message or the barrier background are clicked. In addition, enter key valid the listener of the button.warned */
  visibility: visible;
}